<!doctype html>
<title>2023 NBA Draft Lottery Odds</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class="row">
	<div class="column main">
		<div>
			<h1>2023 NBA Draft Lottery Odds</h1>
	   		{{ table|safe }}
	   	</div>
		<div class='item'>
			<h2>Choose next team revealed</h2>
			<form action= "{{ url_for('show_tables', teams_selected=selections) }}" method="POST">
			     <select name=teams method="GET" action="/">
			    	{% for team in teams %}
			   	 	<option value= "{{team}}" SELECTED>{{team}}</option>"
			    	{% endfor %}
				</select>
			    <input type="submit" value="Submit" />
			</form>
		</div>
	</div>
</div>
<div>
	<div class="column middle">
		<h2>Selected Lottery Order</h2>
			<ul>
			{% for val in selections %}
			  <li>{{ selections[val] }}</li>
			{% endfor %}  
			</ul>
			<a href="{{ url_for('show_tables') }}"><button>Start Over</button></a>
	</div>
	<div class="column side">
		<h2>Instructions</h2>
		<p>Follow along as teams are revealed live during the NBA Draft Lottery</p>
			<ol>
			  <li>Select the most recent team revealed and click the "Submit" button</li> 
			  <li>Observe the draft order and pick odds update live as teams are revealed</li>
			  <li>Continue the above through the entire lottery!</li>
			</ol>
	</div>
</div>